.login {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-image: url(C:\Users\ferna\OneDrive\Desktop\web\datamatics\src\images\background_login.jpg);
}
  
input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

Link[type="submit"] {
    margin-top: 12px;
    cursor: pointer;
    font-size: 14px;
    background: #ff9a00;
    border: 1px solid #ff9a00;
    color: rgb(0, 0, 0);
    padding: 7px 20px;
}

input[type="submit"]:hover {
    background: #ffbb55;
}

.button-container {
    display: flex;
    justify-content: center;
}

.forgot_pass {
    display: flex;
    color: rgb(182, 182, 182);
    font: 25px;
    justify-content: center;
    cursor: pointer;
}

.forgot_pass:hover {
    text-decoration: underline;
}

.login-form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.list-container {
    display: flex;
}

.error {
    color: rgb(255, 225, 190);
    font-size: 12px;
}

.title_login {
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    color: white;
}